*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(58, 30, 19, 1);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  background-color: rgba(200, 204, 212, 0.2);
  text-align: center;
}

.tittle-text {
  padding: 2rem;
}
.choose-ingredients-text {
  padding-bottom: 2rem;
}

.food-select {
  margin: 2rem 0rem;
}

label {
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.your-porridge-contains-text {
  padding: 2rem 0rem;
}

.container-nutrition-data {
  padding-bottom: 2rem;
}

table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

table th {
  background-color: rgb(182, 161, 161);
}
table td {
  background-color: rgba(182, 161, 161, 0.1);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr {
  margin: 10rem;
}

.ingredient-option {
  accent-color: rgba(182, 161, 161);
}

/* ////////// */
.worktop {
  width: 80vw;
  opacity: 0.9;
}

.worktop-conainer {
  position: relative;
}

.oatmeal {
  width: 30vw;
  aspect-ratio: 1;
  filter: brightness(1.1);
  position: absolute;
  top: 20px;
  left: calc(50vw - (30vw / 2));
  background-size: cover;
  background-image: url("./images/oatmeal.png");
  filter: grayscale(35%);
  box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
}

.banana,
.dactyles,
.blackberries,
.blueberries,
.cranberries,
.grapes,
.kiwi,
.raspberries,
.rice-milk,
.tangerine,
.watermelon,
.walnut,
.yoghurt {
  position: absolute;
  top: 20%;
  filter: grayscale(15%);
}

.banana {
  width: 35%;
  z-index: 5;
  left: 40%;
}

.dactyles {
  width: 42%;
  z-index: 9;
  left: 38%;
}

.blackberries {
  width: 45%;
  z-index: 16;
  left: 36%;
}

.blueberries {
  width: 44%;
  z-index: 15;
  left: 37%;
}

.cranberries {
  width: 29%;
  z-index: 14;
  left: 51%;
  transform: rotate(-10deg);
}

.grapes {
  width: 30%;
  z-index: 13;
  left: 55%;
  top: 40%;
}

.kiwi {
  width: 56%;
  z-index: 7;
  left: 41%;
  filter: grayscale(35%);
}

.raspberries {
  width: 46%;
  z-index: 11;
  left: 38%;
}

.rice-milk {
  width: 80%;
  top: 10%;
  left: 10%;
  z-index: 5;
}

.tangerine {
  width: 14%;
  z-index: 10;
  left: 45%;
  filter: grayscale(35%);
}

.walnut {
  width: 50%;
  left: 10%;
  z-index: 9;
  filter: grayscale(35%);
}

.watermelon {
  width: 15%;
  z-index: 8;
  left: 45%;
}

.yoghurt {
  width: 50%;
  left: 5%;
  z-index: 7;
  transform: rotate(-110deg);
}
