*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(58, 30, 19, 1);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  background-color: rgba(200, 204, 212, 0.2);
  /* margin: 0 auto; */
  text-align: center;
}

.tittle-text {
  padding: 2rem;
}
.choose-ingredients-text {
  padding-bottom: 2rem;
}

.food-select {
  margin: 2rem 0rem;
}

label {
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.your-porridge-contains-text {
  padding: 2rem 0rem;
}

.container-nutrition-data {
  padding-bottom: 2rem;
}

table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  /* margin: 2rem auto; */
  /* text-align: center; */
  margin: 0 auto;
}

table th {
  background-color: rgb(182, 161, 161);
}
table td {
  background-color: rgba(182, 161, 161, 0.1);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr {
  margin: 10rem;
}

/* .image-container {
  position: relative;
} */

/* .relative {
  margin: 5rem;
  position: relative;
  z-index: 4;
} zzzzzzzzzzzzz*/

/* .absolute {
  position: absolute;
} */

.ingredient-option {
  accent-color: rgba(182, 161, 161);
}

/* ////////// */
.worktop {
  width: 80vw;
  opacity: 0.9;
}

.worktop-conainer {
  position: relative;
}

.correct-oatmeal {
  width: 30vw;
  z-index: 1;
  filter: brightness(1.1);
  position: absolute;
  top: 4vh;
  left: 33vw;
  filter: grayscale(35%);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

/* /////INGREDIENTS///// */
.banana {
  width: 15vw;
  z-index: 5;
  position: absolute;
  /* top: 14rem; */
  top: 12vh;
  left: 42vw;
  filter: grayscale(35%);
}

.dactyles {
  width: 12vw;
  position: absolute;
  z-index: 9;
  top: 33vh;
  left: 38vw;
  filter: grayscale(35%);
}

.blackberries {
  width: 15vw;
  position: absolute;
  z-index: 16;
  top: 33vh;
  left: 36vw;
  filter: grayscale(35%);
}

.blueberries {
  width: 14vw;
  position: absolute;
  z-index: 15;
  top: 24vh;
  left: 37vw;
  filter: grayscale(35%);
}

.cranberries {
  width: 9vw;
  position: absolute;
  z-index: 14;
  top: 24vh;
  left: 51vw;
  transform: rotate(-10deg);
  filter: grayscale(35%);
}

.grapes {
  width: 11vw;
  position: absolute;
  z-index: 13;
  top: 20vh;
  left: 48vw;
}
.kiwi {
  width: 16vw;
  position: absolute;
  z-index: 7;
  top: 22vh;
  left: 41vw;
  filter: grayscale(35%);
}

.raspberries {
  width: 16vw;
  position: absolute;
  z-index: 11;
  top: 13vh;
  left: 38vw;
  filter: grayscale(35%);
}

.rice-milk {
  width: 25vw;
  position: absolute;
  z-index: 5;
  top: 9vh;
  left: 35vw;
  filter: grayscale(35%);
}

.tangerine {
  width: 14vw;
  position: absolute;
  z-index: 10;
  top: 28vh;
  left: 45vw;
  filter: grayscale(35%);
}

.walnut {
  width: 15vw;
  position: absolute;
  z-index: 9;
  top: 24vh;
  left: 36vw;
  filter: grayscale(35%);
}

.watermelon {
  width: 15vw;
  position: absolute;
  z-index: 8;
  top: 24vh;
  left: 45vw;
  filter: grayscale(35%);
}

.yoghurt {
  width: 16vw;
  position: absolute;
  z-index: 7;
  top: 20vh;
  left: 34vw;
  transform: rotate(-110deg);
  filter: grayscale(35%);
}
