*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(58, 30, 19, 1);
  background-color: rgb(219, 223, 231);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  background-color: rgb(219, 223, 231);
  text-align: center;
}

.tittle-text {
  padding: 2rem;
}

.choose-ingredients-text,
.food-select,
.your-porridge-contains-text,
.alert-text,
.container-nutrition-data,
.worktop {
  padding-bottom: 2rem;
}

.wrapper {
  position: relative;
}

.container-nutrition-data {
  position: relative;
  top: -1rem;
  animation: slide 0.5s forwards;
  width: 100%;
}

@keyframes slide {
  100% {
    top: 0;
  }
}

label {
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.alert-text {
  color: rgb(165, 1, 1);
  font-size: 1.5rem;
  font-weight: 700;
  /* transition-delay: 1s;
  animation: slide 0.5s forwards;
  animation-duration: 1s; */
}

/* @keyframes slide {
  50% {
    top: 0;
  }
} */

/* ////media//// */
/* table {
  display: flex;
  justify-content: center;
  align-items: center;
}

th,
td {
  text-align: left;
  display: flex;
} */
/* ////media/// */

table {
  border-collapse: collapse;
  max-width: 56rem;
  width: 100%;
  margin: 0 auto;
}

table th {
  background-color: rgb(182, 161, 161);
}
table td {
  background-color: rgba(182, 161, 161, 0.1);
}

table th,
table td {
  border: 0.06rem solid #ddd;
  padding: 0.5rem;
}

tr {
  margin: 10rem;
}

.food-select {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50vw;
  margin: 0 auto;
}

.ingredient-option-wrapper {
  display: inline-block;
  white-space: nowrap;
  text-align: start;
}

.ingredient-option {
  accent-color: rgba(182, 161, 161);
}

/* ////////// */
.worktop {
  width: 80vw;
  opacity: 0.9;
}

.worktop-conainer {
  position: relative;
}

.oatmeal {
  width: 30vw;
  aspect-ratio: 1;
  filter: brightness(1.1);
  position: absolute;
  top: 1rem;
  left: calc(50vw - (30vw / 2));
  background-size: cover;
  background-image: url("./images/oatmeal.png");
  filter: grayscale(35%);
  /* box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1); */
}

.banana,
.dactyles,
.blackberries,
.blueberries,
.cranberries,
.grapes,
.kiwi,
.raspberries,
.rice-milk,
.tangerine,
.watermelon,
.walnut,
.yoghurt {
  position: absolute;
  top: 20%;
  filter: grayscale(15%);
}

.banana {
  width: 35%;
  z-index: 5;
  left: 40%;
}

.dactyles {
  width: 42%;
  z-index: 9;
  left: 38%;
}

.blackberries {
  width: 45%;
  z-index: 16;
  left: 36%;
}

.blueberries {
  width: 44%;
  z-index: 15;
  left: 37%;
}

.cranberries {
  width: 29%;
  z-index: 14;
  left: 51%;
  transform: rotate(-10deg);
}

.grapes {
  width: 30%;
  z-index: 13;
  left: 55%;
  top: 40%;
}

.kiwi {
  width: 56%;
  z-index: 7;
  left: 41%;
  filter: grayscale(35%);
}

.raspberries {
  width: 46%;
  z-index: 11;
  left: 38%;
}

.rice-milk {
  width: 80%;
  top: 10%;
  left: 10%;
  z-index: 5;
}

.tangerine {
  width: 14%;
  z-index: 10;
  left: 45%;
  filter: grayscale(35%);
}

.walnut {
  width: 50%;
  left: 10%;
  z-index: 9;
  filter: grayscale(35%);
}

.watermelon {
  width: 15%;
  z-index: 8;
  left: 45%;
}

.yoghurt {
  width: 50%;
  left: 5%;
  z-index: 7;
  transform: rotate(-110deg);
}

@media screen and (max-width: 768px) {
  table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  th,
  td {
    text-align: left;
    display: flex;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 769px) {
  /* table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  } */
}

@media screen and (min-width: 900px) {
  .food-select {
    grid-template-columns: auto auto auto auto;
    width: 50vw;
    margin: 0 auto;
  }
}

/* table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */

/* th,
  td {
    text-align: center;
    display: flex;
    flex-direction: block;
    width: 100%;
  } */

/* table,
  thead,
  tbody,
  th,
  td,
  tr {
    flex-direction: row;
  } */

/* table {
    flex-wrap: wrap;
  } */

/* th,
td {
  min-height: 40px;
  min-width: 8rem;
} */

/* table {
  width: 80vw;
} */

/* width: 80vw */

@media screen and (min-width: 1025px) {
}
